.Counter {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  height: 230px;
  width: 290px;
  border-radius: 10px;
  border: 4px dashed rgba(55, 0, 255, 0.418);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.numberDisplay {
  height: 140px;
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 0, 206, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
}

.buttoms {
  height: 40px;
  width: 260px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.buttonInc {
  height: 40px;
  width: 70px;
  border-radius: 8px;
  background-color: rgba(0, 255, 72, 0.3);
  border: none;
}

.buttonInc:active {
  opacity: 0.6;
}

.buttonReset {
  height: 40px;
  width: 70px;
  border-radius: 8px;
  background-color: rgba(255, 159, 0, 0.3);
  border: none;
}

.buttonSet {
  height: 40px;
  width: 70px;
  border-radius: 8px;
  background-color: rgba(255, 0, 206, 0.4);
  border: none;
}

.redNum {
  color: red;
}
