.Settings{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.section {
    height: 210px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .numberDisplay {
    height: 120px;
    width: 220px;
    border-radius: 10px;
    background-color:  aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  .buttoms {
    height: 60px;
    width: 220px;
    border-radius: 10px;
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .buttonInc {
    height: 30px;
    width: 60px;
    border-radius: 8px;
    background-color:  aqua;
    border: none;
  }
  
  .buttonInc:active{
    opacity: 0.6;
  }
  
  .buttonReset {
    height: 30px;
    width: 60px;
    border-radius: 8px;
    background-color:  aqua;
    border: none;
  }
  
  .redNum {
    color: red;
  }